body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

article {
    padding: 10px 15px;
    margin: 30px auto;
    width: 360px;
    background-color: #dcdcdc;
    border: solid 1px #bcbcbc;
    border-radius: 10px;
    text-align: center;
}

.aleft {
    text-align: left;
}

h1 {
    font-size: 2em;
    color: #000bc1;
}

h2 {
    text-align: center;
}

a {
    color: #000bc1;
}

pre span {
    color: green;
}